$bg-color: #F4F7FA;
$text: #333333;
$secondary-text: #6C757D;
$panel-bg: #FFFFFF;
$panel-border: #E1E4E8;
$folder: #FFCD00;
$folder-select: #0078D4;
$file: #6C757D;
$file-hover: #495057;
$hover: #005A8B;